$primary-back-color: #fff;
$primary-color: #000;

$secondary-back-color: rgb(7, 71, 166);
$secondary-color: #fff;

$input-back-color: #f4f5f7;
$input-back-color-hover: #dfe1e6;
$input-border-color: #dfe1e6;

$primary-btn-back-color: #0052cc;
$primary-btn-back-color-hover: #0065ff;
$primary-btn-color: #fff;

$secondary-btn-back-color: #ebecf0;
$secondary-btn-back-color-hover: #d9dbdf;
$secondary-btn-color: #000;
