@import "../../common-styles/variables";
@import "../../common-styles/buttons";
@import "../../common-styles/form-elements";
@import "../../common-styles/card";

.issue-details {
    margin: 20px 20px;
    padding: 20px;
    @include card1;
}

.issue-details__title {
    display: block;
    margin: 8px 0;
    font-size: 32px;
}

.issue-details__block {
    margin: 24px 0;
}

.issue-details__block:last-of-type {
    margin-bottom: 0;
}

.issue-details__field-name {
    margin-bottom: 5px;
    font-size: 16px;
}

.issue-details__description {
    white-space: pre-wrap;
}

.issue-details__select-container {
    width: 250px;
}

.issue-details__edit-button-container {
    margin: 0 0 0 20px;
}

.issue-details__edit-button-icon {
    margin-right: 4px;
}

.issue-details__back-btn {
    display: block;
    margin: 0 0 24px 0;
    font-size: 16px;
    color: $primary-color;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.issue-details__back-btn:hover {
    text-decoration: underline;
}
