@import "../../common-styles/variables";
@import "../../common-styles/card";

.board__board-group {
    margin: 20px;
    user-select: none;
    @include card1;
}

.board__board-group-items {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 400px;
    padding: 4px;
    background-color: $primary-back-color;
    transition: background-color 150ms linear;
}

.board__board-group-items_highlighted {
    background-color: rgb(225, 243, 255);
    transition: background-color 150ms linear;
}

.board__board-group-header {
    padding: 5px;
    text-align: center;
    background-color: rgb(230, 230, 230);
}
