@import "../../common-styles/variables";
@import "../../common-styles/buttons";
@import "../../common-styles/card";

.issue-list__item {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #fff;
    @include card1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.issue-list__item:hover {
    border: 2px solid #4c9aff;
}
