@import "../../common-styles/variables";

.spinner {
    margin-right: 10px;
    border: 8px solid $secondary-back-color;
    border-top: 8px solid $secondary-color;
    border-bottom: 8px solid $secondary-color;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
    animation: spin 2s linear infinite;
}

.spinner_hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.8s, opacity 0.8s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
