@import "../../common-styles/card";
@import "../../common-styles/avatar";

.board__board-item {
    margin-bottom: 6px;
    padding: 8px;
    @include card2;

    display: flex;
    align-content: center;
    justify-content: space-between;
}

.board__board-item-avatar {
    margin-right: 16px;
    @include avatar;
}
