.issue-list__item {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issue-list__item:hover {
    border: 2px solid #4c9aff;
    cursor: pointer;
}

.issue-list__item-remove-button {
    padding: 4px;
    color: #dd3030;
    border-radius: 4px;
}

.issue-list__item-remove-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #fd3b3b;
}
