@import "../../common-styles/card";
@import "../../common-styles/buttons";
@import "../../common-styles/form-elements";

.issue-edit-form {
    margin: 20px;
    padding: 20px;
    @include card1;
}

.issue-edit-form__title {
    margin: 8px 0 16px 0;
}

.issue-edit-form__block {
    margin-top: 20px;
}

.issue-edit-form__block > label {
    display: inline-block;
    margin-bottom: 7px;
}

.issue-edit-form__text-input-container {
    width: 100%;
}

.issue-edit-form__textarea-input-container {
    width: 100%;
    height: 200px;
}

.issue-edit-form__select-container {
    width: 250px;
}

.issue-edit-form__btns-block {
    display: flex;
    margin-top: 40px;
}

.issue-edit-form__cancel-btn-container {
    margin: 0 0 0 6px;
}

@media only screen and (max-width: 700px) {
    .issue-edit-form__select-container {
        width: 100%;
    }
    .issue-edit-form__btns-block {
        justify-content: space-between;
    }
    .issue-edit-form__submit-btn-container,
    .issue-edit-form__cancel-btn-container {
        width: 47%;
    }

    .issue-edit-form__cancel-btn-container {
        margin: 0;
    }
}
