@import "../../common-styles/variables";

.header {
    background-color: $secondary-back-color;
    color: $secondary-color;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navlink {
    margin: 0 5px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: $secondary-color;
}

.header__navlink:hover {
    background-color: rgb(6, 60, 141);
    border-radius: 8px;
}
