.header {
    background-color: rgb(7, 71, 166);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navlink {
    color: rgb(255, 255, 255);
    margin: 0 5px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
}

.header__navlink:hover {
    background-color: rgb(6, 60, 141);
    border-radius: 8px;
}
