.text-input {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 9px 15px;
    background-color: #f4f5f7;
    border: 1px solid #dfe1e6;
    border-radius: 4px;
    font-family: inherit;
}

.textarea-input {
    display: block;
    width: 100%;
    height: 150px;
    margin: 8px 0;
    padding: 9px 15px;
    background-color: #f4f5f7;
    border: 1px solid #dfe1e6;
    border-radius: 4px;
    font-family: inherit;
    resize: none;
}

.select-input {
    display: block;
    margin: 8px 0;
    padding: 9px 15px;
    border-radius: 4px;
    background-color: #f4f5f7;
    border: 1px solid #dfe1e6;
    font-family: inherit;
}

.text-input:focus,
.textarea-input:focus,
.select-input:focus {
    background-color: #fff;
    border: 1px solid #4c9aff;
}
