@import "../../common-styles/variables";
@import "../../common-styles/avatar";

.combobox {
    position: relative;
    user-select: none;
    display: block;
    width: 100%;
}

.combobox__selected-option {
    border-radius: 4px;
    background-color: $input-back-color;
    border: 1px solid $input-border-color;
}

.combobox__selected-icon {
    position: absolute;
    top: 16px;
    right: 10px;
}

.combobox__options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid $input-border-color;
    width: 100%;
}

.combobox__options_hidden {
    display: none;
}

.combobox__option {
    padding: 9px 15px;
    cursor: pointer;
    vertical-align: middle;
}

.combobox__option-avatar {
    @include avatar;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.combobox__option:hover {
    background-color: $input-back-color-hover;
}
